@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

.container {
    margin:0;
    .cover{
        background-image: url("../../assets/header.png");
        width:80%;
        height:100%;
        background-color: transparent;
        background-size: 100% auto;
        background-repeat:no-repeat;
        margin:auto;
        margin-top: 0;

    h2{
    font-family: 'Quicksand', sans-serif;
    padding-top: 20%;
    font-size: 3.2em;
    font-weight: bold;
    color:white;
    margin-right: 35%;
}
}

    .userData{
        margin:auto;
        height:100px;
        box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        justify-content: space-between;
        border-radius: 10px;
        padding:2%;
        width:80%;
        margin-top:1%;

        .logo{
            text-align: left;
            animation: fly 3s infinite alternate ease-in-out;
        }
        .name{
            align-self: right;
           grid-column: 7 / 7;
        }
        .points{
            align-self: right;
        }
        .coin{
            align-self: center;
            padding:4px;
            margin-left: 3px;
        }
    }
}

@keyframes fly {
  0% {
    transform: translateY(0) rotateX(0);
  }

  100% {
    transform: translateY(-20px) rotate3d(3, 2, 1, 30deg);
  }
}